@import '../../../../scss/variables';

.calculator {
    background-color: white;
    border-radius: 10px;
    margin-top: $small-gap;
    padding: $medium-gap;
}

.calculator__title {
    color: $primary-color;
    text-align: center;
    font-size: 5rem;
    margin-bottom: $small-gap;
}

.calculator__app {
    height: 70rem;
    width: 50rem;
    background: $primary-color-darker;
    margin: 0 auto;
    text-align: center;
}

.calculator__result__container {
    margin: 0 auto;
    height: 10rem;
    background: $primary-color;
}

.calculator__result {
    width: 46rem;
    height: 6rem;
    margin-top: 2rem;
    border-radius: 5px;
    font-size: 4rem;
    text-align: right;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

button {
    background: $primary-color;
    font-size: 3rem;
    border-radius: 0;
    width: 10rem;
    height: 10rem;
    margin: 1rem;
}