<div class="container calculator">
  <h1 class="calculator__title">Basic Calculator</h1>
  <div class="calculator__app">
    <div class="calculator__result__container">
      <input type="number" [value]="result" class="calculator__result" disabled>
    </div>

    <button (click)="resetCalculator()" mat-raised-button>C</button>
    <button (click)="deleteLastNumber()" mat-raised-button>DEL</button>
    <button (click)="getTotal()" mat-raised-button>=</button>
    <button (click)="calculate('/')" mat-raised-button>/</button>

    <button (click)="addToCalculation('7')" mat-raised-button>7</button>
    <button (click)="addToCalculation('8')" mat-raised-button>8</button>
    <button (click)="addToCalculation('9')" mat-raised-button>9</button>
    <button (click)="calculate('*')" mat-raised-button>X</button>

    <button (click)="addToCalculation('4')" mat-raised-button>4</button>
    <button (click)="addToCalculation('5')" mat-raised-button>5</button>
    <button (click)="addToCalculation('6')" mat-raised-button>6</button>
    <button (click)="calculate('-')" mat-raised-button>-</button>

    <button (click)="addToCalculation('1')" mat-raised-button>1</button>
    <button (click)="addToCalculation('2')" mat-raised-button>2</button>
    <button (click)="addToCalculation('3')" mat-raised-button>3</button>
    <button (click)="calculate('+')" mat-raised-button>+</button>

    <button (click)="addToCalculation('square')" mat-raised-button>x^2</button>
    <button (click)="addToCalculation('%')" mat-raised-button>%</button>
    <button (click)="addToCalculation('0')" mat-raised-button>0</button>
    <button (click)="addToCalculation('.')" mat-raised-button>.</button>
  </div>
</div>