@import '../scss/variables';

.main-container {
    display: block;
    background: white;
    max-width: $container-width;
    margin: 0 auto;
    z-index: -1;
}

h1 {
    text-align: center;
    font-size: 5rem;
    font-style: italic;
    text-shadow: 2px 2px 0 rgb(0,0,0);
    color: white;
}