@import '../../../../scss/variables';

.error {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    margin-top: $small-gap;
}

.error__message {
    color: $primary-color;
    font-size: 5rem;
    text-align: center;
}

.error__icon {
    color: $primary-color;
    font-size: 30rem;
    text-align: center;
    margin-bottom: $small-gap;
}