@import '../node_modules/bootstrap/scss/bootstrap';
@import './scss/material_theme';
@import './scss/base';
@import './scss/variables';

/*@font-face {
    font-family: 'caviardreams';
    src: url('./assets/fonts/caviardreams-webfont.eot');
    src: url('./assets/fonts/caviardreams-webfont.eot?#iefix') format('embedded-opentype'),
         url('./assets/fonts/caviardreams-webfont.woff2') format('woff2'),
         url('./assets/fonts/caviardreams-webfont.woff') format('woff'),
         url('./assets/fonts/caviardreams-webfont.ttf') format('truetype'),
         url('./assets/fonts/caviardreams-webfont.svg#caviar_dreamsregular') format('svg');
    font-weight: normal;
    font-style: normal;
}*/

body {
    background: $primary-color;
}

.container {
    max-width: $container-width;
}