/*=========================
===== COLOR VARIABLES =====
===========================*/
$primary-color: rgb(170, 210, 0);
$primary-color-lighter: rgb(190, 230, 0);
$primary-color-darker: rgb(150, 190, 0);

$secondary-color: rgb(255, 0, 90);
$secondary-color-lighter: rgb(255, 30, 100);
$secondary-color-darker: rgb(230, 0, 80);

/*==========================
====== GRID VARIABLES ======
============================*/
$small-gap: 3rem;
$medium-gap: 6rem;
$large-gap: 9rem;

$container-width: 120rem;